.trash {
	color:#a94442;
	font-size:16px;
}
.pencil {
	color:#b58f4d;
	font-size:16px;
}
.pic {
	color:#666;
	font-size:16px;
}
.activei {
	color:#063;
	font-size:16px;
}
.noactivei {
	color:#a94442;
	font-size:16px;
}
